@font-face {
  font-family: "Norse";
  src: url("assets/fonts/Norse-Bold.woff2") format("woff2"),
    url("assets/fonts/Norse-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.banner {
  font-family: "Norse";
  font-size: 4rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.452);
}
.banner > * {
  display: block;
}
.banner > img {
  max-width: 4rem;
  height: auto;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.25fr 2fr;
  /* background-color: #f9fafb; */
}
.side {
  padding-top: 7rem;
  background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body > *:not(.form):not(.Login),
.btn {
  padding: 2rem;
}
.article p:last-child {
  margin-top: 1rem;
}
.article,
legend,
button {
  font-size: 1.15rem;
  font-weight: 900;
}
button {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  color: white;
  border: 1px solid transparent;
  background-color: #596d48;
}
button,
.Login {
  font-family: inherit;
  font-weight: 900;
  font-size: 0.8rem;
}

.Login {
  padding: 0 2rem;
}
.Login a {
  text-decoration: none;
  color: #596d48;
}
fieldset {
  position: relative;
  padding: 4rem 2rem 2rem 2rem;
  border: none;
  background-color: white;
  box-shadow: 0 1px 10px #e0e1e1;
}
legend {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.form-element {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  gap: 1rem;
}

.form-element label {
  font-family: inherit;
  font-weight: 900;
  font-size: 0.6rem;
}

.side::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.05);
}

/* form validation style */
input {
  border: 1.2px solid #e8e9e9;
  appearance: none;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}

input:focus {
  border-color: #8ba3e6;
  outline: none;
  box-shadow: 0 1px 5px 2px #dbdbdb;
}

input:user-invalid {
  border-color: #b91c1c;
}

input[type="password"]:invalid {
  border-color: #b91c1c;
}
input,
button {
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
